.sliderimg{
    height: 60vh;
}


footer{
    margin-top: 6.5rem;
}


        
#Ma-7in{
    margin: 6rem 28rem;
}

.byy45{
    float: right;
}

footer a {
    color: azure;
}

footer a:hover {
    color: rgb(253, 113, 113);
}

.about-row{
    display: flex;
    justify-content:center ;
    align-items: center;
}
#Spn{
    color: azure;
}
.SinLOga{
    text-decoration: none;
}


@media screen and (max-width:991px){
    #b-y34{
        margin-bottom:4px ;
    }
}

@media screen and (max-width:1200px){
        
    #Ma-7in{
        margin: auto auto;
    }
}


@media screen and (max-width:400px){
    .sliderimg{
        height: 35vh;
    }
}
